@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Italic";
  src: url("../fonts/Avenir-Next-LT-Pro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Kiona Regular";
  src: url("../fonts/Kiona-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kiona Italic";
  src: url("../fonts/Kiona-Itallic.ttf") format("truetype");
}
@font-face {
  font-family: "System Ui";
  src: url("../fonts/SFUIText-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Italic";
  src: url("../fonts/Avenir-Next-LT-Pro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Kiona Regular";
  src: url("../fonts/Kiona-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kiona Italic";
  src: url("../fonts/Kiona-Itallic.ttf") format("truetype");
}
@font-face {
  font-family: "System Ui";
  src: url("../fonts/SFUIText-Regular.ttf") format("truetype");
}
.avenir_next_regular_white, .regular_10_white {
  font-family: "Avenir Next";
  color: #ffffff;
  font-weight: 400;
}

.-font-family-system-ui {
  font-family: "System Ui";
}

.avenir_next_regular_black, .regular_10_black, .regular_black {
  font-family: "Avenir Next";
  color: #3e3b3c;
  font-weight: 400;
}

.avenir_next_italic {
  font-family: "Avenir Italic";
  color: #3e3b3c;
}

.avenir_next_bold_white {
  font-family: "Avenir Next";
  color: #ffffff;
  font-weight: 700;
}

.avenir_next_bold_black {
  font-family: "Avenir Next";
  color: #3e3b3c;
  font-weight: 700;
}

.kiona_regular_white {
  font-family: "Kiona Regular";
  color: #ffffff;
  font-weight: 400;
}

.kiona_regular_black {
  font-family: "Kiona Regular";
  color: #3e3b3c;
  font-weight: 400;
}

.regular_10_white {
  font-size: 16px;
}

.regular_10_black {
  font-size: 20px;
}

.wrapper {
  padding: 20px;
  height: 100vh;
  background-color: #215C98;
}
.wrapper .header {
  padding: 10px 0 20px;
  height: 80px;
}
.wrapper .title {
  color: #ffffff;
  font-weight: 400;
}
.wrapper .close-btn {
  background-color: rgb(166, 0, 0);
  color: #ffffff;
  border: none;
  outline: none;
}
.wrapper .content-part {
  height: calc(100% - 80px);
}
.wrapper .content-part .sidebar {
  background-color: #173A62;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .content-part .sidebar .top .sidebar-title {
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
}
.wrapper .content-part .sidebar .bottom .buttons-wrapper {
  gap: 8px;
}
.wrapper .content-part .sidebar .bottom .buttons-wrapper button {
  width: 50%;
  background-color: #3B7ECD;
  border: none;
  outline: none;
}
.wrapper .content-part .sidebar .bottom .buttons-wrapper button:hover {
  background-color: #0f4786;
}
.wrapper .content-part .main {
  background-color: #173A62;
  height: 100%;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
