@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Italic";
  src: url("../fonts/Avenir-Next-LT-Pro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Kiona Regular";
  src: url("../fonts/Kiona-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kiona Italic";
  src: url("../fonts/Kiona-Itallic.ttf") format("truetype");
}
@font-face {
  font-family: "System Ui";
  src: url("../fonts/SFUIText-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Italic";
  src: url("../fonts/Avenir-Next-LT-Pro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Kiona Regular";
  src: url("../fonts/Kiona-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kiona Italic";
  src: url("../fonts/Kiona-Itallic.ttf") format("truetype");
}
@font-face {
  font-family: "System Ui";
  src: url("../fonts/SFUIText-Regular.ttf") format("truetype");
}
.avenir_next_regular_white, .regular_10_white {
  font-family: "Avenir Next";
  color: #ffffff;
  font-weight: 400;
}

.-font-family-system-ui {
  font-family: "System Ui";
}

.avenir_next_regular_black, .regular_10_black, .regular_black {
  font-family: "Avenir Next";
  color: #3e3b3c;
  font-weight: 400;
}

.avenir_next_italic {
  font-family: "Avenir Italic";
  color: #3e3b3c;
}

.avenir_next_bold_white {
  font-family: "Avenir Next";
  color: #ffffff;
  font-weight: 700;
}

.avenir_next_bold_black {
  font-family: "Avenir Next";
  color: #3e3b3c;
  font-weight: 700;
}

.kiona_regular_white {
  font-family: "Kiona Regular";
  color: #ffffff;
  font-weight: 400;
}

.kiona_regular_black {
  font-family: "Kiona Regular";
  color: #3e3b3c;
  font-weight: 400;
}

.regular_10_white {
  font-size: 16px;
}

.regular_10_black {
  font-size: 20px;
}

.wrapper {
  padding: 20px;
  height: 100vh;
  background-color: #215C98;
}
.wrapper .header {
  padding: 10px 0 20px;
  height: 80px;
}
.wrapper .title {
  color: #ffffff;
  font-weight: 400;
}
.wrapper .close-btn {
  background-color: rgb(166, 0, 0);
  color: #ffffff;
  border: none;
  outline: none;
}
.wrapper .content-part {
  height: calc(100% - 80px);
}
.wrapper .content-part .sidebar {
  background-color: #173A62;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .content-part .sidebar .top .sidebar-title {
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}
.wrapper .content-part .sidebar .top .days-btn,
.wrapper .content-part .sidebar .top .report-btn {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  background-color: #3B7ECD;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.wrapper .content-part .sidebar .top .days-btn .inactive,
.wrapper .content-part .sidebar .top .report-btn .inactive {
  display: block;
}
.wrapper .content-part .sidebar .top .days-btn .active-arrow,
.wrapper .content-part .sidebar .top .report-btn .active-arrow {
  display: none;
}
.wrapper .content-part .sidebar .top .days-btn.active,
.wrapper .content-part .sidebar .top .report-btn.active {
  background-color: #E95A0C;
}
.wrapper .content-part .sidebar .top .days-btn.active .inactive,
.wrapper .content-part .sidebar .top .report-btn.active .inactive {
  display: none;
}
.wrapper .content-part .sidebar .top .days-btn.active .active-arrow,
.wrapper .content-part .sidebar .top .report-btn.active .active-arrow {
  display: block;
  position: absolute;
  right: -40;
  top: 0;
}
.wrapper .content-part .sidebar .bottom .buttons-wrapper {
  gap: 8px;
}
.wrapper .content-part .sidebar .bottom .buttons-wrapper button {
  width: 50%;
  background-color: #3B7ECD;
  border: none;
  outline: none;
}
.wrapper .content-part .sidebar .bottom .buttons-wrapper button:hover {
  background-color: #0f4786;
}
.wrapper .content-part .main {
  background-color: #173A62;
  height: 100%;
  padding: 10px;
  display: none;
}
.wrapper .content-part .main.active {
  display: block;
}
.wrapper .content-part .main .right-part .subtitle {
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}
.wrapper .content-part .main .right-part .create, .wrapper .content-part .main .right-part .print, .wrapper .content-part .main .right-part .help {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #ffffff;
  height: 180px;
  width: 30%;
  margin: 0 5px;
}
.wrapper .content-part .main .right-part .create svg, .wrapper .content-part .main .right-part .print svg, .wrapper .content-part .main .right-part .help svg {
  margin-bottom: 20px;
}
.wrapper .content-part .main .right-part .create {
  background-color: #E95A0C;
}
.wrapper .content-part .main .right-part .print {
  background-color: #436080;
}
.wrapper .content-part .main .right-part .help {
  background-color: #3B7ECD;
}
.wrapper .content-part .main .left-part {
  margin-right: 10%;
}
.wrapper .content-part .main .left-part #reports-table {
  color: #ffffff;
  width: 100%;
}
.wrapper .content-part .main .left-part #reports-table tr td {
  padding: 3px 6px;
}
.wrapper .content-part .main .left-part #reports-table tr td .blue-bg {
  padding: 2px 4px;
  background-color: #205D94;
  border-radius: 8px;
  margin-left: 4px;
}
.wrapper .content-part .main .left-part #reports-table .orange-bg {
  background-color: #E95A0C;
}
.wrapper .content-part .main .left-part #reports-table .blue-bg {
  background-color: #3B7ECD;
}

body {
  background: #242424 !important;
  margin: 0px !important;
}

html {
  background: #000000 !important;
  margin: 0px !important;
}

#header {
  background: #000000;
  width: 100%;
  height: 45px;
}

.sportheader {
  margin-top: 1px;
}

.sportList {
  min-width: 85px;
  padding-left: 4px;
  padding-right: 4px;
  height: 40px;
  vertical-align: bottom;
  background: #646464;
  opacity: 0.7;
  margin: 2px;
}

.homenav {
  font-size: 12px;
}

.cellContentHome {
  margin: 3px;
  width: 99%;
  height: 93%;
  display: block;
  float: left;
}

#body {
  width: 100%;
  overflow: hidden;
}

.innerBody {
  width: 100%;
  display: block;
  float: left;
}

.ovCont {
  width: 100%;
  float: left;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
  margin-right: -260px;
  padding-right: 260px;
}

.betslipCont {
  width: 260px;
  /*width:20%;*/
  background: orange;
  float: right;
  height: calc(100vh - 160px);
}

.nav-item.active {
  border-top: 3px solid yellow !important;
  opacity: 1 !important;
}

.matchRow {
  display: block;
  height: 80px;
  overflow: hidden;
  clear: both;
  width: 100%;
  background: #29669B;
  margin-bottom: 1px;
  color: white;
  font-size: 15px;
}

.outerMatchRow {
  /*display: table;*/
  width: 100%;
  /*height:100%;*/
}

.innerMatchRow {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}

.minutaCell {
  display: block;
  position: relative;
  z-index: 1;
  width: 60px;
  float: left;
  height: 80px;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  font-size: 12px;
  border-right: 4px solid #397C20;
}

.descrMatch {
  display: block;
  width: 100%;
  height: 80px;
  float: left;
  margin-left: -65px;
  padding-left: 65px;
  margin-right: -450px;
  padding-right: 450px;
}

.oddMatch {
  display: block;
  width: 450px;
  height: 100%;
  position: relative;
  z-index: 1;
  width: 450px;
  height: 100%;
  float: right;
  box-sizing: border-box;
}

.innerDescr {
  display: table;
  width: 100%;
}

.rowDescr {
  display: table-row;
  width: 100%;
}

.cellDescr {
  display: table-cell;
  width: 30%;
  text-align: center;
}

.resCont {
  text-align: center;
  margin: 0;
  color: yellow;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2);
}

.ligaCont {
  color: rgba(255, 255, 255, 0.4);
  float: left;
  padding: 0px;
  font-size: 12px;
}

.halfCont {
  float: right;
  font-size: 10px;
  padding: 0 4px;
  background: rgba(255, 255, 255, 0.2);
}

.allRubCont {
  width: 100%;
  /*display:table;*/
  height: 100%;
  top: 0px;
  position: relative;
}

.oneRubCont {
  width: 33.33%;
  display: table-cell;
  height: 40px;
}

.sixRubCont {
  width: 90%;
  display: table-cell;
  height: 100%;
}

.plusCont {
  width: 10%;
  display: table-cell;
  height: 78px;
  min-width: 20px;
  background: rgba(0, 0, 0, 0.3);
  margin: 2px;
  text-align: center;
}

.innerSixRubcont {
  width: 100%;
  display: table;
  height: 100%;
}

.oddsRow {
  width: 100%;
  display: table-row;
}

.innerOneRubCont {
  display: inline-flex;
  width: 100%;
  float: left;
  flex-direction: row;
  margin-right: 4px;
  height: 100%;
}

.oddCont {
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  float: left;
  margin: 2px;
  padding: 4px 2px 2px 0px;
  text-align: center;
}

.pazari {
  background: none !important;
}

.blocked {
  width: 40px;
  height: 40px;
  content: "";
  background: url(../images/icons/dryni.png);
  background-position: 11px 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}

.ovHeader {
  position: relative;
  background: rgb(81, 81, 81);
  border-bottom: none !important;
  height: 40px;
}

.oneRubContHeader {
  width: 33.33%;
  display: table-cell;
  height: 20px;
}

.oneRubContHeader p {
  color: white;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.3);
  margin-right: 3px;
  margin-bottom: 0px;
}

.oddContHeader {
  width: 40px;
  display: block;
  background: none !important;
  float: left;
  margin: 2px !important;
  font-size: 12px !important;
  color: #ddbf2e !important;
}

#footer {
  display: flex;
  height: 70px;
}

#backCont {
  width: 75px;
  height: 50px;
  display: inline-block;
  background: #646464;
  margin: 9px;
  padding: 8px 20px;
}

.exit {
  height: 100%;
  background: url(../images/icons/exitIcon.png);
  background-repeat: no-repeat;
  background-size: 54px 50px;
}

#langCont {
  width: 75px;
  height: 50px;
  display: inline-block;
  background: #646464;
  margin: 9px;
  padding: 0px 3px;
  margin-left: 0px;
}

.langIc {
  height: 100%;
  background: url(../images/icons/langs.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: center;
}

#langCont div {
  width: 100%;
  display: block;
  float: left;
}

#langCont p {
  font-size: 11px;
  color: white;
  white-space: nowrap;
  text-align: center;
}

#bigLanguageContainer {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#innerLanguageContainer {
  width: 420px;
  /* min-width: 320px; */
  /* margin: 0 auto; */
  /* margin-bottom: 50px; */
  height: 415px;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  left: 100px;
}

#languageContainer {
  height: auto;
  min-height: 850px;
  position: relative;
  overflow: visible;
  background: rgb(27, 26, 26);
  min-height: 350px !important;
  padding: 10px;
}

#languageContainer p {
  color: white;
}

#langHeader p {
  margin: auto;
  text-align: center;
}

#langHeader {
  margin-bottom: 25px;
}

#tickCont {
  width: 90px;
  height: 50px;
  display: inline-block;
  background: #646464;
  margin: 9px;
  padding: 8px 10px;
  margin-left: 0px;
}

.tickIc {
  height: 100%;
  background: url(../images/icons/ticketIcon.png);
  background-repeat: no-repeat;
  background-size: 120px 50px;
}

#tickCont div {
  width: 100%;
  display: block;
  float: left;
}

#tickCont p {
  font-size: 11px;
  color: white;
  white-space: nowrap;
  text-align: center;
}

#resCont {
  width: 75px;
  height: 50px;
  display: inline-block;
  background: #646464;
  margin: 9px;
  padding: 8px;
  margin-left: 0px;
}

.resultIc {
  height: 100%;
  background: url(../images/icons/resultIcon.png);
  background-repeat: no-repeat;
  background-size: 100px 75px;
  margin: auto;
}

#creditCont {
  width: 220px;
  height: 50px;
  display: inline-block;
  background: #646464;
  margin: 9px;
  padding: 8px 10px;
  margin-left: 0px;
  float: right;
}

.creditIc {
  height: 100%;
  width: 100%;
  background: url(../images/icons/coins.png);
  background-repeat: no-repeat;
  background-size: 70%;
  float: left;
}

#creditCont div {
  height: 100%;
  display: block;
  float: left;
}

#creditCont p {
  font-size: 11px;
  color: white;
  white-space: nowrap;
  text-align: center;
}

#userCredit {
  float: right;
  text-align: right !important;
  font-size: 17px !important;
}

.disabled {
  opacity: 0.3;
}

#userCont {
  height: 50px;
  display: inline-block;
  margin: auto;
  padding: 8px 10px;
  color: white;
  text-align: center;
}

#userNameLogIn {
  margin: 0px;
}

#bigResultsContainer {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#innerResultsContainer {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  bottom: 10px;
  padding: 10px;
}

#resultsContainer {
  height: calc(100% - 50px);
  position: relative;
  overflow: visible;
  background: rgb(27, 26, 26);
  padding: 10px;
}

#resultsContainer p {
  color: white;
}

#resultHeader p {
  line-height: 30px;
  color: white;
  text-align: center;
  font-weight: 400;
  float: left;
  /* background: url(../images/icons/bsIcon.png) center bottom no-repeat; */
  background-position: center 32px;
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
  padding-right: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

#resultHeader {
  background: #494848;
  position: relative;
  border-bottom: none !important;
  height: 40px;
}

#closeRes {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(66, 66, 66);
  background: rgb(66, 66, 66);
  float: right;
  box-sizing: border-box;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
  color: #f7f0f0;
  font-size: 20px;
}

.nameMatch {
  width: auto;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 8px;
}
.nameMatch p {
  margin-bottom: 0;
}
.nameMatch p.sportName {
  font-weight: 600;
  font-size: 18px;
}
.nameMatch p.nameMatchPill {
  font-size: 12px;
  border-radius: 7px;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.2588235294);
}
.nameMatch p.nameMatchPill span {
  color: yellow;
}
.nameMatch p.nameMatchPill.activePill {
  box-shadow: 0 0 2px 1px yellow;
}
.nameMatch img {
  max-width: 100%;
  max-height: 100%;
  width: 30px;
  margin-left: 10px;
}

.playsListing {
  width: 100%;
  height: calc(100vh - 160px);
  position: relative;
}

.leaguesMenu {
  width: 25%;
  min-width: 230px;
  color: white;
  height: calc(100vh - 160px);
  position: relative;
  display: none;
}
.leaguesMenu.opened-menu {
  display: block;
}
.leaguesMenu .leagues-header {
  background: rgb(68, 68, 68);
  padding: 8px;
  border-top: 1px solid black;
}
.leaguesMenu ul {
  list-style-type: none;
}
.leaguesMenu #myMenu {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: calc(100vh - 210px);
}
.leaguesMenu #myMenu .caret {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  padding: 8px 5px;
  background: rgb(68, 68, 68);
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  border-top: 1px solid black;
}
.leaguesMenu #myMenu .caret img {
  width: 30px;
  height: auto;
  object-fit: contain;
  margin-right: 5px;
}
.leaguesMenu #myMenu .caret::before {
  content: url('data:image/svg+xml,<svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)" stroke="%23000000" stroke-width="0.00024000000000000003"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M14.2893 5.70708C13.8988 5.31655 13.2657 5.31655 12.8751 5.70708L7.98768 10.5993C7.20729 11.3805 7.2076 12.6463 7.98837 13.427L12.8787 18.3174C13.2693 18.7079 13.9024 18.7079 14.293 18.3174C14.6835 17.9269 14.6835 17.2937 14.293 16.9032L10.1073 12.7175C9.71678 12.327 9.71678 11.6939 10.1073 11.3033L14.2893 7.12129C14.6799 6.73077 14.6799 6.0976 14.2893 5.70708Z" fill="%23ffffff"></path></g></svg>');
  color: white;
  display: inline-block;
}
.leaguesMenu #myMenu .caret-down {
  color: yellow;
}
.leaguesMenu #myMenu .caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}
.leaguesMenu #myMenu .menuCount {
  margin-left: auto;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.leaguesMenu #myMenu .nested {
  display: none;
}
.leaguesMenu #myMenu .active-menu {
  display: block;
  padding: 0;
  border-bottom: 1px solid yellow;
}
.leaguesMenu #myMenu .league-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #7f7f7f;
  font-size: 12px;
  font-weight: 500;
  gap: 5px;
  padding-right: 5px;
}
.leaguesMenu #myMenu .league-item .league-badge {
  background: red;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 12px;
  padding: 5px 1px;
  font-weight: bold;
}
.leaguesMenu #myMenu input[type=checkbox] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: white;
  width: 1.15em;
  height: 1.15em;
  border: 2px solid white;
  transform: translateY(-0.075em);
}
.leaguesMenu #myMenu input[type=checkbox]:checked:before {
  content: "";
  background: white;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrolling-buttons {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.scrolling-buttons button {
  height: 50px;
  background: none;
  border: none;
  padding: 0;
}
.scrolling-buttons img {
  height: 50px;
}

.burger-menu {
  background: transparent;
  border: 0;
  padding: 0;
}

#body .match-statistic {
  background-color: #088004;
  height: 136px;
}
#body .match-statistic .right-part {
  justify-content: end;
}
#body .match-statistic .right-part .kit {
  margin-right: 25px;
}
#body .match-statistic .right-part .real-time {
  margin-right: 5px;
}
#body .match-statistic .left-part {
  justify-content: start;
}
#body .match-statistic .left-part .kit {
  margin-left: 25px;
}
#body .match-statistic .left-part .real-time {
  margin-left: 5px;
}
#body .match-statistic .left-part,
#body .match-statistic .right-part {
  display: flex;
  align-items: center;
}
#body .match-statistic .left-part .content,
#body .match-statistic .right-part .content {
  display: flex;
  align-items: start;
}
#body .match-statistic .left-part .content .arrows,
#body .match-statistic .right-part .content .arrows {
  display: flex;
  flex-direction: column;
}
#body .match-statistic .left-part .content .arrows button,
#body .match-statistic .right-part .content .arrows button {
  border: none;
  background-color: #065901;
  outline: none;
  padding: 0 8px;
}
#body .match-statistic .left-part .content .arrows .back-btn,
#body .match-statistic .left-part .content .arrows .stat-btn,
#body .match-statistic .right-part .content .arrows .back-btn,
#body .match-statistic .right-part .content .arrows .stat-btn {
  margin-bottom: 1px;
  height: 55px;
}
#body .match-statistic .left-part .content .arrows .prev-btn,
#body .match-statistic .left-part .content .arrows .next-btn,
#body .match-statistic .right-part .content .arrows .prev-btn,
#body .match-statistic .right-part .content .arrows .next-btn {
  height: 80px;
}
#body .match-statistic .left-part .content .real-time,
#body .match-statistic .right-part .content .real-time {
  color: #ffffff;
}
#body .match-statistic .left-part .kit img,
#body .match-statistic .right-part .kit img {
  max-width: 120px;
}
#body .match-statistic .center-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#body .match-statistic .center-part .result-wrapper {
  padding: 2px 50px;
  background-color: #499727;
  text-align: center;
  margin-bottom: 1px;
}
#body .match-statistic .center-part .result-wrapper .result {
  color: #B8D344;
  font-size: 14px;
  margin-bottom: 0;
}
#body .match-statistic .center-part .teams {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 1px;
  white-space: nowrap;
}
#body .match-statistic .center-part .teams .center-colon {
  display: inline-block;
  width: 1em;
  text-align: center;
  margin: 0 5px;
}
#body .match-statistic .center-part .location {
  color: rgba(255, 255, 255, 0.7607843137);
  font-weight: 300;
  font-size: 10px;
  margin-bottom: 1px;
}
#body .match-statistic .center-part #match-statistics td.team-name {
  width: 50%;
  text-align: left;
}
#body .match-statistic .center-part #match-statistics {
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  width: 100%;
  border-spacing: 0 1px;
  border-collapse: initial;
}
#body .match-statistic .center-part #match-statistics tr {
  background-color: #0B3E00;
}
#body .match-statistic .center-part #match-statistics tr td {
  width: fit-content;
  padding: 2px 4px;
  text-align: center;
}
#body .match-statistic .center-part #match-statistics tr td img {
  width: 13px;
}
#body .match-statistic .center-part #match-statistics tr td p {
  margin-bottom: 0;
}
#body .match-statistic .center-part #match-statistics tr .chat {
  padding: 2px 8px;
  background-color: #095808;
}
#body .match-statistic .center-part #match-statistics tr .chat .chat-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
#body .match-statistic .center-part #match-statistics tr.last-row td {
  width: 100%;
  text-align: left;
  padding-left: 30px;
}

.ticketModal.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
.ticketModal.modal .modal-content {
  background-color: #111111 !important;
  margin: 4% auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.ticketModal.modal .modal-content .bg {
  position: absolute;
  left: -15px;
  bottom: -15px;
  z-index: 9;
}
.ticketModal.modal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #333333;
  border-radius: 0;
  border-bottom: none !important;
}
.ticketModal.modal .modal-content .modal-header .title {
  color: #ffffff;
  padding: 5px 20px;
  margin-bottom: 0;
  font-size: 20px;
}
.ticketModal.modal .modal-content .modal-header .close {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  margin: 0;
  background-color: #555555;
}
.ticketModal.modal .modal-content .modal-body {
  padding: 100px 20px 80px;
  background-color: #111111;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ticketModal.modal .modal-content .modal-body .content-wrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  z-index: 99;
}
.ticketModal.modal .modal-content .modal-body .content-wrapper .content-item {
  flex-basis: calc(33.33% - 10px);
  margin: 5px;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ticketModal.modal .modal-content .modal-body .content-wrapper .content-item svg {
  width: 32px;
  height: 32px;
}
.ticketModal.modal .modal-content .modal-body .content-wrapper .content-item p {
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
  line-height: 14px;
}
.ticketModal.modal .modal-content .modal-body .checkbox-wrapper {
  display: flex;
  align-items: center;
}
.ticketModal.modal .modal-content .modal-body .checkbox-wrapper .checkbox {
  margin-right: 8px;
  background: transparent;
  border: 3px solid white;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #111111 !important;
  position: relative;
}
.ticketModal.modal .modal-content .modal-body .checkbox-wrapper .checkbox:checked:before {
  transform: scale(1);
  content: "";
  background: white;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ticketModal.modal .modal-content .modal-body .checkbox-wrapper span {
  color: #ffffff;
}

.searchModal.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
.searchModal.modal .modal-content {
  background-color: #111111 !important;
  margin: 2% auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.searchModal.modal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #333333;
  border-radius: 0;
  border-bottom: none !important;
}
.searchModal.modal .modal-content .modal-header .title {
  color: #ffffff;
  padding: 5px 20px;
  margin-bottom: 0;
  font-size: 20px;
}
.searchModal.modal .modal-content .modal-header .close {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  margin: 0;
  background-color: #555555;
}
.searchModal.modal .modal-content .modal-body {
  padding: 20px 70px;
  background-color: #111111;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchModal.modal .modal-content .modal-body .content-wrapper {
  width: 70%;
  display: flex;
  background-color: #333333;
  margin: 5px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
}
.searchModal.modal .modal-content .modal-body .content-wrapper p {
  color: #ffffff;
  margin-bottom: 0;
}
.searchModal.modal .modal-content .modal-body .content-wrapper .title {
  font-weight: 500;
}
.searchModal.modal .modal-content .modal-body .content-wrapper #ticket-table {
  margin-bottom: 40px;
}
.searchModal.modal .modal-content .modal-body .content-wrapper #ticket-table table {
  width: 100%;
}
.searchModal.modal .modal-content .modal-body .content-wrapper #ticket-table .td {
  padding: 0 20px;
  color: #ffffff;
  height: 26px;
}
.searchModal.modal .modal-content .modal-body .content-wrapper #ticket-table .border-td {
  border: 1px solid rgba(222, 226, 230, 0.3137254902);
  border-left: none;
  border-right: none;
}
.searchModal.modal .modal-content .modal-body .content-wrapper #ticket-table .border-right {
  border-color: rgba(222, 226, 230, 0.3137254902) !important;
}
.searchModal.modal .modal-content .modal-body .content-wrapper .btn-wrapper {
  display: flex;
  justify-content: center;
}
.searchModal.modal .modal-content .modal-body .content-wrapper .btn-wrapper button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  outline: none;
  border: none;
  font-weight: 700;
}
.searchModal.modal .modal-content .modal-body .search-wrapper {
  background-color: #333333;
  width: 30%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  align-items: center;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .img-wrapper img {
  object-fit: contain;
  max-width: 90%;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .dsp-part {
  margin-bottom: 25px;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .dsp-part p {
  color: #ffffff;
  text-align: center;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculate-wrapper {
  padding: 0 30px;
  margin-bottom: 15px;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculate-wrapper .ticket-code-wrapper {
  display: flex;
  justify-content: center;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculate-wrapper .ticket-code-wrapper .ticket-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculate-wrapper .ticket-code-wrapper .ticket-wrapper p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculate-wrapper .ticket-code-wrapper .ticket-wrapper input {
  width: 100%;
  height: 100%;
  background-color: #646464;
  outline: none;
  border: none;
  padding: 12px 8px;
  color: #ffffff;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculate-wrapper .ticket-code-wrapper .code-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-left: 10px;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculate-wrapper .ticket-code-wrapper .code-wrapper p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculate-wrapper .ticket-code-wrapper .code-wrapper input {
  width: 100%;
  height: 100%;
  background-color: #646464;
  outline: none;
  border: none;
  padding: 12px 8px;
  color: #ffffff;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculator-wrapper {
  padding: 0 20;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
.searchModal.modal .modal-content .modal-body .search-wrapper .calculator-wrapper input {
  width: 25%;
  background-color: #525252;
  color: #ffffff;
  padding: 10px;
  margin: 4px;
  border: none;
}

/*# sourceMappingURL=main.css.map */
