// Avenir Next Regular
@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Avenir Italic";
  src: url("../fonts/Avenir-Next-LT-Pro-Italic.ttf") format('truetype');
}

@font-face {
  font-family: "Kiona Regular";
  src: url("../fonts/Kiona-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Kiona Italic";
  src: url("../fonts/Kiona-Itallic.ttf") format('truetype');
}
@font-face {
  font-family: "System Ui";
  src: url("../fonts/SFUIText-Regular.ttf") format('truetype');
}
