#body {
    .match-statistic {
        background-color: #088004;
        height: 136px;

        .right-part {
            justify-content: end;

            .kit {
                margin-right: 25px;
            }

            .real-time {
                margin-right: 5px;

            }
        }

        .left-part {
            justify-content: start;

            .kit {
                margin-left: 25px;
            }

            .real-time {
                margin-left: 5px;

            }
        }

        .left-part,
        .right-part {
            display: flex;
            align-items: center;

            .content {
                display: flex;
                align-items: start;

                .arrows {
                    display: flex;
                    flex-direction: column;

                    button {
                        border: none;
                        background-color: #065901;
                        outline: none;
                        padding: 0 8px;
                    }

                    .back-btn,
                    .stat-btn {
                        margin-bottom: 1px;
                        height: 55px;
                    }

                    .prev-btn,
                    .next-btn {
                        height: 80px;
                    }
                }

                .real-time {
                    color: #ffffff;
                }
            }

            .kit {
                img {
                    max-width: 120px;
                }
            }
        }

        .center-part {
            display: flex;
            flex-direction: column;
            align-items: center;

            .result-wrapper {
                padding: 2px 50px;
                background-color: #499727;
                text-align: center;
                margin-bottom: 1px;

                .result {
                    color: #B8D344;
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }

            .teams {
                color: #ffffff;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 1px;
                white-space: nowrap;

                .center-colon {
                    display: inline-block;
                    width: 1em;
                    text-align: center;
                    margin: 0 5px;
                }
            }

            .location {
                color: #ffffffc2;
                font-weight: 300;
                font-size: 10px;
                margin-bottom: 1px;

            }

            #match-statistics td.team-name {
                width: 50%;
                text-align: left;
            }

            #match-statistics {
                color: #ffffff;
                font-size: 10px;
                font-weight: 500;
                width: 100%;
                border-spacing: 0 1px;
                border-collapse: initial;

                tr {
                    background-color: #0B3E00;

                    td {
                        width: fit-content;
                        padding: 2px 4px;
                        text-align: center;

                        img {
                            width: 13px;
                        }

                        p {
                            margin-bottom: 0
                        }
                    }

                    .chat {
                        padding: 2px 8px;
                        background-color: #095808;

                        .chat-btn {
                            cursor: pointer;
                            border: none;
                            outline: none;
                            background: transparent;
                        }
                    }
                }

                tr.last-row td {
                    width: 100%;
                    text-align: left;
                    padding-left: 30px;
                }
            }
        }
    }
}


.ticketModal.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);

    .modal-content {
        background-color: #111111 !important;
        margin: 4% auto;
        width: 100%;
        position: relative;
        overflow: hidden;

        .bg {
            position: absolute;
            left: -15px;
            bottom: -15px;
            z-index: 9;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            padding: 0;
            background-color: #333333;
            border-radius: 0;
            border-bottom: none !important;

            .title {
                color: #ffffff;
                padding: 5px 20px;
                margin-bottom: 0;
                font-size: 20px;
            }

            .close {
                color: #ffffff;
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
                padding: 8px;
                margin: 0;
                background-color: #555555;

            }
        }

        .modal-body {
            padding: 100px 20px 80px;
            background-color: #111111;
            border-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .content-wrapper {
                width: 70%;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 80px;
                z-index: 99;

                .content-item {
                    flex-basis: calc(33.33% - 10px);
                    margin: 5px;
                    padding: 20px 10px;
                    box-sizing: border-box;
                    background-color: #555555;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    svg {
                        width: 32px;
                        height: 32px;
                    }

                    p {
                        margin-bottom: 0;
                        font-size: 14px;
                        color: #ffffff;
                        line-height: 14px;
                    }
                }
            }

            .checkbox-wrapper {
                display: flex;
                align-items: center;

                .checkbox {
                    margin-right: 8px;
                    background: transparent;
                    border: 3px solid white;
                    width: 20px;
                    height: 20px;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: #111111 !important;
                    position: relative;
                }

                .checkbox:checked:before {
                    transform: scale(1);
                    content: "";
                    background: white;
                    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                span {
                    color: #ffffff;
                }
            }

        }
    }
}


.searchModal.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);

    .modal-content {
        background-color: #111111 !important;
        margin: 4% auto;
        width: 100%;
        position: relative;
        overflow: hidden;

        .modal-header {
            display: flex;
            justify-content: space-between;
            padding: 0;
            background-color: #333333;
            border-radius: 0;
            border-bottom: none !important;

            .title {
                color: #ffffff;
                padding: 5px 20px;
                margin-bottom: 0;
                font-size: 20px;
            }

            .close {
                color: #ffffff;
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
                padding: 8px;
                margin: 0;
                background-color: #555555;

            }
        }

        .modal-body {
            padding: 50px 70px;
            background-color: #111111;
            border-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .content-wrapper {
                width: 70%;
                display: flex;
                background-color: #333333;
                margin: 5px;
            }

            .search-wrapper {
                background-color: #333333;
                width: 30%;
                margin: 5px;
                display: flex;
                flex-direction: column;
                padding: 30px 10px;

                .img-wrapper {
                    display: flex;
                    justify-content: center;

                    img {
                        object-fit: contain;
                        max-width: 90%;
                    }

                    margin-bottom: 50px;
                }

                .dsp-part {
                    margin-bottom: 50px;

                    p {
                        color: #ffffff;
                        text-align: center;
                    }

                }

                .calculate-wrapper {
                    padding: 0 30px;
                    margin-bottom: 15px;

                    .ticket-code-wrapper {
                        display: flex;
                        justify-content: center;

                        .ticket-wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 70%;

                            p {
                                text-align: center;
                                color: #ffffff;
                                margin-bottom: 5px;

                            }

                            input {
                                width: 100%;
                                height: 100%;

                            }
                        }

                        .code-wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 30%;
                            margin-left: 20px;

                            p {
                                text-align: center;
                                color: #ffffff;
                                margin-bottom: 5px;
                            }

                            input {
                                width: 100%;
                                height: 100%;
                                border: none;
                                height: 30px;
                            }

                        }
                    }
                }
            }


        }
    }
}